{% load static %}

<div class="movie-items">
    <div class="container">
        <div class="row ipad-width">

            <div class="col-md-8">

                <!-- IN THEATER -->
                <div class="title-hd">
                    <h2>in theater</h2>
                    <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                </div>

                <div class="tabs">

                    <ul class="tab-links">
                        <li class="active"><a href="#tab1">#Popular</a></li>
                        <li><a href="#tab2">#Coming soon</a></li>
                    </ul>

                    <div class="tab-content">

                        <!-- TAB 1 -->
                        <div id="tab1" class="tab active">
                            <div class="slick-multiItem">

                                {% for movie in popular_theaters %}
                                <div class="slide-it">
                                    <div class="movie-item">

                                        <div class="mv-img">
                                            <img src="{% static movie.image_src %}"
                                                 width="{{ movie.image_width }}"
                                                 height="{{ movie.image_height }}">
                                        </div>

                                        <div class="hvr-inner">
                                            <a href="{{ movie.anchor_url }}">
                                                Read more <i class="ion-android-arrow-dropright"></i>
                                            </a>
                                        </div>

                                        <div class="title-in">
                                            <h6>{{ movie.movie_title }}</h6>
                                            <p>
                                                <i class="ion-android-star"></i>
                                                <span>{{ movie.lower_rating }}</span>/{{ movie.upper_rating }}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>

                        <!-- TAB 2 -->
                        <div id="tab2" class="tab">
                            <div class="slick-multiItem">

                                {% for movie in coming_theaters %}
                                <div class="slide-it">
                                    <div class="movie-item">

                                        <div class="mv-img">
                                            <img src="{% static movie.image_src %}"
                                                 width="{{ movie.image_width }}"
                                                 height="{{ movie.image_height }}">
                                        </div>

                                        <div class="hvr-inner">
                                            <a href="{{ movie.anchor_url }}">
                                                Read more <i class="ion-android-arrow-dropright"></i>
                                            </a>
                                        </div>

                                        <div class="title-in">
                                            <h6>{{ movie.movie_title }}</h6>
                                            <p>
                                                <i class="ion-android-star"></i>
                                                <span>{{ movie.lower_rating }}</span>/{{ movie.upper_rating }}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>

                    </div>
                </div>


                <!-- ON TV -->
                <div class="title-hd">
                    <h2>on tv</h2>
                    <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                </div>

                <div class="tabs">

                    <ul class="tab-links-2">
                        <li class="active"><a href="#tab21">#Popular</a></li>
                        <li><a href="#tab22">#Coming soon</a></li>
                    </ul>

                    <div class="tab-content">

                        <!-- TAB 21 -->
                        <div id="tab21" class="tab active">
                            <div class="slick-multiItem">

                                {% for tv in popular_tvs %}
                                <div class="slide-it">
                                    <div class="movie-item">

                                        <div class="mv-img">
                                            <img src="{% static tv.image_src %}"
                                                 width="{{ tv.image_width }}"
                                                 height="{{ tv.image_height }}">
                                        </div>

                                        <div class="hvr-inner">
                                            <a href="{{ tv.anchor_url }}">Read more</a>
                                        </div>

                                        <div class="title-in">
                                            <h6>{{ tv.movie_title }}</h6>
                                            <p>
                                                <i class="ion-android-star"></i>
                                                <span>{{ tv.lower_rating }}</span>/{{ tv.upper_rating }}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>

                        <!-- TAB 22 -->
                        <div id="tab22" class="tab">
                            <div class="slick-multiItem">

                                {% for tv in coming_tvs %}
                                <div class="slide-it">
                                    <div class="movie-item">

                                        <div class="mv-img">
                                            <img src="{% static tv.image_src %}"
                                                 width="{{ tv.image_width }}"
                                                 height="{{ tv.image_height }}">
                                        </div>

                                        <div class="hvr-inner">
                                            <a href="{{ tv.anchor_url }}">Read more</a>
                                        </div>

                                        <div class="title-in">
                                            <h6>{{ tv.movie_title }}</h6>
                                            <p>
                                                <i class="ion-android-star"></i>
                                                <span>{{ tv.lower_rating }}</span>/{{ tv.upper_rating }}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>

                    </div>
                </div>

            </div>


            <div class="col-md-4">

                <div class="sidebar">

                    <div class="ads">
                        <img src="{% static 'images/uploads/ads1.png' %}" width="336" height="296">
                    </div>

                    <div class="celebrities">

                        <h4 class="sb-title">Spotlight Celebrities</h4>

                        {% for celeb in celebs %}
                        <div class="celeb-item">

                            <a href="{{ celeb.anchor_url }}">
                                <img src="{% static celeb.celebrity_url %}"
                                     width="{{ celeb.img_width }}"
                                     height="{{ celeb.img_height }}">
                            </a>

                            <div class="celeb-author">
                                <h6>{{ celeb.celebrity_name }}</h6>
                                <span>{{ celeb.celebrity_type }}</span>
                            </div>

                        </div>
                        {% endfor %}

                        <a href="#" class="btn">
                            See all celebrities <i class="ion-ios-arrow-right"></i>
                        </a>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>