{% load static %}

<div class="movie-items">
    <div class="container">

        <div class="row ipad-width">
            <div class="col-md-8">
                <div class="title-hd">
                    <h2>in theater</h2>
                    <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                </div>

                <div class="tabs">
                    <ul class="tab-links">
                        <li class="active"><a href="#tab1">#Popular</a></li>
                        <li><a href="#tab2">#Coming soon</a></li>
                    </ul>

                    <div class="tab-content">

                        <!-- TAB 1 -->
                        <div id="tab1" class="tab active">
                            <div class="row">
                                <div class="slick-multiItem">

                                    {% for movie in theaters %}
                                    <div class="slide-it">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img src="{% static movie.img_src %}" width="185" height="284">
                                            </div>
                                            <div class="hvr-inner">
                                                <!-- <a href="{% url 'moviesingle' movie.id %}"> -->
                                                    Read more <i class="ion-android-arrow-dropright"></i>
                                                </a>
                                            </div>
                                            <div class="title-in">
                                                <h6>{{ movie.title }}</h6>
                                                <p><i class="ion-android-star"></i><span>{{ movie.rating }}</span> /10</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                        <!-- TAB 2 -->
                        <div id="tab2" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">

                                    {% for movie in theaters %}
                                    <div class="slide-it">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img src="{% static movie.img_src %}" width="185" height="284">
                                            </div>
                                            <div class="hvr-inner">
                                                <!-- <a href="{% url 'moviesingle' movie.id %}"> -->
                                                    Read more <i class="ion-android-arrow-dropright"></i>
                                                </a>
                                            </div>
                                            <div class="title-in">
                                                <h6>{{ movie.title }}</h6>
                                                <p><i class="ion-android-star"></i><span>{{ movie.rating }}</span> /10</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="title-hd">
                    <h2>on tv</h2>
                    <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                </div>

                <div class="tabs">
                    <ul class="tab-links-2">
                        <li><a href="#tab21">#Popular</a></li>
                        <li class="active"><a href="#tab22">#Coming soon</a></li>
                    </ul>

                    <div class="tab-content">

                        <!-- TAB 21 -->
                        <div id="tab21" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">

                                    {% for tv in tvs %}
                                    <div class="slide-it">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img src="{% static tv.img_src %}" width="185" height="284">
                                            </div>
                                            <div class="hvr-inner">
                                                <a href="#">
                                                    Read more <i class="ion-android-arrow-dropright"></i>
                                                </a>
                                            </div>
                                            <div class="title-in">
                                                <h6>{{ tv.title }}</h6>
                                                <p><i class="ion-android-star"></i><span>{{ tv.rating }}</span> /10</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                        <!-- TAB 22 -->
                        <div id="tab22" class="tab active">
                            <div class="row">
                                <div class="slick-multiItem">

                                    {% for tv in tvs %}
                                    <div class="slide-it">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img src="{% static tv.img_src %}" width="185" height="284">
                                            </div>
                                            <div class="hvr-inner">
                                                <a href="#">
                                                    Read more <i class="ion-android-arrow-dropright"></i>
                                                </a>
                                            </div>
                                            <div class="title-in">
                                                <h6>{{ tv.title }}</h6>
                                                <p><i class="ion-android-star"></i><span>{{ tv.rating }}</span> /10</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="title-hd">
                    <h2>spotlight celebrities</h2>

                </div>
                {% for celeb in celebs %}
                    <div class="celeb-item">
                        <img src="{% static celeb.celebrity_url %}" width="{{ celeb.img_width }}" height="{{ celeb.img_height }}">
                        <div class="celeb-info">
                            <h6>{{ celeb.celebrity_name }}</h6>
                            <p>{{ celeb.celebrity_type }}</p>
                        </div>
                    </div>
                    {% endfor %}

                <a href="#" class="viewall">
                    See all celebrities <i class="ion-ios-arrow-right"></i>
                </a>
            </div>

        </div>
    </div>
</div>
