{% load static %}
<div class="movie-items">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-8">

                <!-- ========================= -->
                <!--       IN THEATER          -->
                <!-- ========================= -->
                <div class="title-hd">
                    <h2>in theater</h2>
                    <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                </div>

                <div class="tabs">
                    <ul class="tab-links">
                        <li class="active"><a href="#tab1">#Popular</a></li>
                        <li><a href="#tab2">#Coming soon</a></li>
                    </ul>

                    <div class="tab-content">

                        <!-- TAB 1: Popular -->
                        <div id="tab1" class="tab active">
                            <div class="row">
                                <div class="slick-multiItem">

                                    {% for movie in theaters %}
                                    <div class="slide-it">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img src="{% static movie.img_src %}" alt="" width="{{ movie.img_width }}" height="{{ movie.img_height }}">
                                            </div>
                                            <div class="hvr-inner">
                                                <a href="{% url 'moviesingle' movie.id %}">
                                                    Read more <i class="ion-android-arrow-dropright"></i>
                                                </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a href="#">{{ movie.movie_title }}</a></h6>
                                                <p><i class="ion-android-star"></i>
                                                    <span>{{ movie.lower_rating }}</span> /{{ movie.upper_rating }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                        <!-- TAB 2: Coming Soon -->
                        <div id="tab2" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">

                                    {% for movie in theaters %}
                                    <div class="slide-it">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img src="{% static movie.img_src %}" alt="" width="{{ movie.img_width }}" height="{{ movie.img_height }}">
                                            </div>
                                            <div class="hvr-inner">
                                                <a href="{% url 'moviesingle' movie.id %}">
                                                    Read more <i class="ion-android-arrow-dropright"></i>
                                                </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a href="#">{{ movie.movie_title }}</a></h6>
                                                <p><i class="ion-android-star"></i>
                                                    <span>{{ movie.lower_rating }}</span> /{{ movie.upper_rating }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- ========================= -->
                <!--          ON TV            -->
                <!-- ========================= -->
                <div class="title-hd">
                    <h2>on tv</h2>
                    <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                </div>

                <div class="tabs">
                    <ul class="tab-links-2">
                        <li><a href="#tab21">#Popular</a></li>
                        <li class="active"><a href="#tab22">#Coming soon</a></li>
                    </ul>

                    <div class="tab-content">

                        <!-- TAB 21: Popular -->
                        <div id="tab21" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">

                                    {% for tv in tvs %}
                                    <div class="slide-it">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img src="{% static tv.img_src %}" alt="" width="{{ tv.img_width }}" height="{{ tv.img_height }}">
                                            </div>
                                            <div class="hvr-inner">
                                                <a href="{% url 'moviesingle' tv.id %}">
                                                    Read more <i class="ion-android-arrow-dropright"></i>
                                                </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a href="#">{{ tv.movie_title }}</a></h6>
                                                <p><i class="ion-android-star"></i>
                                                    <span>{{ tv.lower_rating }}</span> /{{ tv.upper_rating }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                        <!-- TAB 22: Coming Soon -->
                        <div id="tab22" class="tab active">
                            <div class="row">
                                <div class="slick-multiItem">

                                    {% for tv in tvs %}
                                    <div class="slide-it">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img src="{% static tv.img_src %}" alt="" width="{{ tv.img_width }}" height="{{ tv.img_height }}">
                                            </div>
                                            <div class="hvr-inner">
                                                <a href="{% url 'moviesingle' tv.id %}">
                                                    Read more <i class="ion-android-arrow-dropright"></i>
                                                </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a href="#">{{ tv.movie_title }}</a></h6>
                                                <p><i class="ion-android-star"></i>
                                                    <span>{{ tv.lower_rating }}</span> /{{ tv.upper_rating }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div> <!-- col-md-8 -->
        </div> <!-- row -->
    </div> <!-- container -->
</div> <!-- movie-items -->
