{% load static %}
<div class="trailers">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-12">
				<div class="title-hd">
					<h2>in theater</h2>
					<a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="videos">
				 	<div class="slider-for-2 video-ft">
				 		<div>
					    	<iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/1Q8fG0TtVAY"></iframe>
					    </div>
				
						
					</div>

					<div class="slider-nav-2 thumb-ft">
						<!-- DB -->
						{% for trailer in trailers %}
                        <div class="item">
                            <div class="trailer-img">
                                <img 
                                    src="{% static trailer.img_src %}" 
                                    alt="{{ trailer.img_alt }}"
                                    width="{{ trailer.img_width }}" 
                                    height="{{ trailer.img_height }}"
                                >
                            </div>

                            <div class="trailer-infor">
                                <h4 class="desc">{{ trailer.description }}</h4>
                                <p>{{ trailer.duration }}</p>
                            </div>
                        </div>
                        {% endfor %}
					
					</div>
				</div>   
			</div>
		</div>
	</div>
</div>