{% load static %}

<div class="movie-items full-width">
    <div class="container">

        <div class="row ipad-width">
            <div class="col-md-12">
                <h2 class="section-title">IN THEATER</h2>
            </div>

            {% for movie in theaters %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="movie-item">
                    <div class="mv-img">
                        <img src="{% static movie.img_src %}" alt="{{ movie.title }}">
                    </div>
                    <div class="title-in">
                        <h6>{{ movie.title }}</h6>
                        <p>
                            <i class="ion-android-star"></i>
                            <span>{{ movie.rating }}</span> /10
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row ipad-width">
            <div class="col-md-12">
                <h2 class="section-title">ON TV</h2>
            </div>

            {% for tv in tvs %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="movie-item">
                    <div class="mv-img">
                        <img src="{% static tv.img_src %}" alt="{{ tv.title }}">
                    </div>
                    <div class="title-in">
                        <h6>{{ tv.title }}</h6>
                        <p>
                            <i class="ion-android-star"></i>
                            <span>{{ tv.rating }}</span> /10
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row ipad-width">
            <div class="col-md-12">
                <h2 class="section-title">SPOTLIGHT CELEBRITIES</h2>
            </div>

            {% for celeb in celebs %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="movie-item">
                    <div class="mv-img">
                        <img src="{% static celeb.img_src %}" alt="{{ celeb.name }}">
                    </div>
                    <div class="title-in">
                        <h6>{{ celeb.name }}</h6>
                        <p>{{ celeb.role }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
